[submodule "third_party/rsl_rl"]
	path = third_party/rsl_rl
	url = https://github.com/leggedrobotics/rsl_rl.git
[submodule "third_party/unitree_rl_gym"]
	path = third_party/unitree_rl_gym
	url = https://github.com/unitreerobotics/unitree_rl_gym.git
[submodule "third_party/unitree_sdk2_python"]
	path = third_party/unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python.git